#my_favorites {
  padding-left: 40px;
  border-left: 2px solid black;

  a {
    text-decoration: none;
    color: black;
  }

  h1 {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 32px;
  }

  .my_favorites_container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
  }

  button {
    padding: 10px 32px;
  }
}
